<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>Random game</title>
</head>
<body>
    <div id="container">
        <!-- <aside>
            <div id="filter">
                <h2>Filter</h2>
                <div id="filterOptions">
                    <div class="filterOption">
                        <label for="subscription">Platform</label>
                        <select name="subscription" id="subscription">
                            <option value="all">Extra</option>
                            <option value="all">Premium</option>
                        </select>
                    </div>
                </div>
        </aside> -->
        <main>
            <h1>Random game selector</h1>

            <div id="output"></div>
            <div id="errMessage"></div>

            <div id="generateBtn">Generate</div>
        </main>
    </div>

    <script src="javascripts/script.js"></script>
</body>
</html>