extends layout

block content
  h1 Random Game Picker
  button#generateBtn Generate
  div#output
  script.
    // Define a variable to store the fetched games
    var gamesData;

    // Fetch data from the API endpoint when the page loads
    fetch('/api/games')
      .then(response => response.json())
      .then(data => {
        // Check if data is an array and not empty
        if (Array.isArray(data) && data.length > 0) {
          gamesData = data;
        } else {
          // Handle the case when the API response is empty or not an array
          console.error('Invalid or empty API response:', data);
        }
      })
      .catch(error => {
        // Handle fetch errors
        console.error('Error fetching data:', error);
      });

    document.getElementById('generateBtn').addEventListener('click', function() {
      // Check if gamesData is defined and not empty
      if (Array.isArray(gamesData) && gamesData.length > 0) {
        // Get a random index
        var randomIndex = Math.floor(Math.random() * gamesData.length);

        // Display the selected string
        document.getElementById('output').innerText = gamesData[randomIndex].name;
      } else {
        // Handle the case when gamesData is not available
        document.getElementById('output').innerText = 'No data available';
      }
    });
