body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

main {
    width: 500px;
    margin: 0 auto;
}

#errMessage {
    color: red;
}

#output {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
}

#generateBtn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}